
.not-found{
  display: grid;
  place-content: center;
  height: 100vh;
}

.intro img{
  position: relative;
  width:160px;
  height:160px;
  border-radius: 50%;
}

.intro{
  height: 100%;
  margin-top:80px;
}

.intro__name{
  font-weight: 400;
  margin-bottom: 20px;
}

.intro__desc{
  margin-bottom: 20px;
}

.intro__social{
  display: flex;
}

a{
  margin-right: 20px;
}